# Browser automation
selenium==4.24.0
webdriver-manager==4.0.2
undetected-chromedriver==3.5.5

# HTML parsing
beautifulsoup4==4.12.3
lxml==5.2.2

# Data processing
pandas==2.2.2
numpy==1.26.4

# Database integration
SQLAlchemy==2.0.34

# Utilities
requests==2.32.3
fake-useragent==1.5.1
